<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/user/setPassword" method="post" onsubmit="return check()">
    <input type="hidden" id="account" name="account" th:value="${account}">
    新密码：<input type="text" name="password" id="password">
    确认密码：<input type="text" name="repeatPass" id="repeatPass">
    <input type="submit" value="重置密码">
</form>
<script src="/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
    function check() {
        var pass1 = $("#password").val();
        var pass2 = $("#repeatPass").val();
        if (pass1==pass2){
            if (pass1.length!=0){
                alert("修改成功");
                return true;
            } else {
                alert("密码不能为空")
                return false;
            }
        }
        else {
            alert("两次密码不一致")
            return false;
        }
    }
</script>
</body>
</html>